.home {
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 1.5em;
    gap: 1em;
    position: relative;
}

.home__form {
    display: flex;
    flex-direction: row;
    max-width: 900px;
}

.form__input {
    flex: 1;
    padding-left: 1em;
    height: 40px;
    border-color: inherit;
}

.form__btn {
    width: 40px;
    background-color: var(--colorPrimary);
    border-color: var(--colorPrimary);
    color: var(--colorBtnText);
}

.home__filter--btn {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-self: end;
    gap: .5em;
    color: var(--text-dark-gray);
    border: none;
    background-color: transparent;
}

.filter__btn--text {
    letter-spacing: .05em;
}

.home__filters--Container {
    background-color: white;
    width: 70%;
    display: grid;
    gap: .7em;
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    right: -70%;
    z-index: 1;
}

.filters__btn--closed {
    display: grid;
    justify-content: center;
    width: 20px;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    justify-self: end;
}

.btn__closed--icon{
font-size: 25px;
}

.home__cardProduct--container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}