@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

:root {
  /* ajusta los colores como te guste */
  --colorPrimary: #f85555;
  --colorBorderInput: #f8555570;
  --colorBtnText: #ffffff;
  --colorwhiteText: #ffffff;
  --text-gray: #c7c7c7;
  --text-dark-gray: #868484;
  --colorScroll: #f85555;
  --colorBorderCardProduct: #f8555580;
  --heightHeader: 6em;
  --bgPrimary: radial-gradient(circle, rgba(255, 243, 243, 1) 0%, rgba(255, 243, 243, 1) 100%);
  --bgWhite: #f6f6f6;
  --colorLabel: #515151;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Amaranth', sans-serif;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

html ::-webkit-scrollbar-thumb {
  background-color: var(--colorScroll);
  border-radius: 20px;
}

body {
  margin: 0;
  /* es bueno por si llega a ser mas pequeño no falle nada */
  min-height: 100vh;
  /* si solo le agregas el color de fondo al app entonces se nota cuando carga por pprimera vez, es mejor al body o al html */
  background: var(--bgPrimary);
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li,
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

input {
  outline: none;
  font-family: inherit;
  /* un reinicio para poder darle estilos propios */
  display: block;
  color: var(--text-gray);
  appearance: none;
  border: 1px solid currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
  /* prueba si te gusta sin borde */
  border: none;
}

select {
  appearance: none;
  font-family: inherit;
}

select::-ms-expand {
  display: none;
}

img {
  width: 100%;
  display: block;
  /* ajustar todas las imagenes para no sufrir tanto */
  object-fit: cover;
  object-position: center, center;
}

i {
  /* un tamaño para todos los iconos  */
  display: block;
  font-size: 20px;
}

hr {
  /* para evitar errores con los hr */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}